# Core
numpy
pandas
scikit-learn
scipy

# Visualization
matplotlib
seaborn
plotly

# Feature engineering & preprocessing
category_encoders
imbalanced-learn

# Model tracking & experiment management
mlflow
dvc
pyyaml

# File handling & I/O
openpyxl
xlrd

# Jupyter / Dev
jupyter
ipykernel
tqdm
python-dotenv

# Testing
pytest

# Local package (OOP project structure)
-e .
